<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <parameter name="Browser" value="CH"></parameter>
  <parameter environment="TestEnv" value="http://localhost/Avactis/"></parameter>
  <test name="Test">
    <classes>
      <class name="tests.ValidRegistrationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
